@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@500&family=Oswald&display=swap');

html {
    scroll-behavior: smooth;
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(images/liquid-cheese.svg);
    background-repeat: no-repeat;
    background-size: 660%;
    background-position-y: 100px;
}

header {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    
    position: fixed;
    z-index: 12;

}

nav {
    background: rgb(36, 37, 42);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

label.logo {
    color:rgb(203, 228, 222, 0.95);
    font-size:40px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0 0x;
    transition: all 0.3s ease 0s;
}

label.logo:hover {
    font-size: 45px;
    color:#865DFF;
}

.menu-container {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: #2E4F4F;
    align-items: center;
    
}

.menu-container li {
    display: inline-block;
}

ul li a {
    margin: 0 10px;
    color: #CBE4DE;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

ul li a:hover {
    color:#865DFF
}

.home {
    color:#865DFF;
}
/* end of header */
/* main */
.hero-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 8em;
    
   
}

picture {
    display: flex;
    justify-content: center;

}

picture img{
    width: 70%;
    height: auto;
    border-radius: 50%;
    background-color: #0E8388;
    transition: all 0.3s ease 0s;
    
}

picture img:hover {
    background-color: #865DFF;
}

.resume {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.resume a {
    color: #CBE4DE;
    font-family: sans-serif;
    font-size: 22px;
    background-color: #0E8388;
    padding: 4px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.resume a:hover {
    background-color: #865DFF;
    padding: 8px;
}

article {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    font-family: sans-serif;
    margin-top: 40px;
    
}

article div p {
    font-size: 19px;
    text-align: center;
    font-weight: 500;
    color: #CBE4DE;
    transition: all 0.3s ease 0s;
}

article div p:hover {
    color: #865DFF;
}


.social-icons ul li{
    display: inline-flex;
    scale: 170%;
    padding: 0 10px;
}




.form {
   
    width: 100vw;
    height: 30vh;
    position: relative;
    top: 8em;

    display: flex;
    justify-content: center;
    
   
    
}

form {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 4vw;
    width: 100%;
    background-color: #0E8388;
    width: 35em;
    height: 18em;
    border-radius: 10px;
    position: relative;
    top: 15px;
    margin: 0 2em;
    scale: 80%;

    gap: 1em;
}


 footer {
    position: fixed;
    bottom: 15px;
 }

 form h3 {
    margin-bottom: 0.5em;
    font-size: 2em;
    color: #CBE4DE;
 }

 form input {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #865DFF

 }

 


/* Tablet Reso */
@media only screen and (min-width: 768px) and (max-width: 990px) {
         .hero-container {
            flex-direction: row;
            
         }

         picture img {
            width: 100%;
            margin-left: 2em;
         }
         .footer .resume{
            scale: 120%;
         }

         .quote {
            padding: 10px;
         }

         article div p {
            font-size: 22px;
         }

         .form {
            justify-content: flex-end;
            padding-bottom: 4em;
         }
}


@media only screen and (min-width:991px) {
    article div p {
        font-size: 24px;
     }
    
}
