@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@500&family=Oswald&display=swap');

html {
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(../images/pexels-joão-jesus-925743.jpg);
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: 0px 110px;
    
}

header {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    z-index: 12;
    width: 100%;

}

nav {
    background: rgb(36, 37, 42);
    height: 80px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

label.logo {
    color:rgb(203, 228, 222, 0.95);
    font-size:40px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0 0x;
    transition: all 0.3s ease 0s;
}

.menu-container {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: #2E4F4F;
    align-items: center;
    
}

.menu-container li {
    display: inline-block;
}

ul li a {
    margin: 0 10px;
    color: #CBE4DE;
    text-transform: uppercase;
}

.home {
    color:#865DFF;
}

/* main */
.skills {
    color:#865DFF;

}

.title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 50px;
}