@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@500&family=Oswald&display=swap');

html {
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

body {
    background-image: url(../images/liquid-cheese.svg);
    background-repeat: no-repeat;
    background-size: 660%;
    background-position-y: 100px;
    
}

header {
    font-family: 'Montserrat', sans-serif;
    
    width: 100%;
    position: fixed;
    z-index: 12;
}

nav {
    background: rgb(36, 37, 42);
    height: 80px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

label.logo {
    color:rgb(203, 228, 222, 0.95);
    font-size:40px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0 0x;
    transition: all 0.3s ease 0s;
}

.menu-container {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: #2E4F4F;
    align-items: center;
    
}

.menu-container li {
    display: inline-block;
}

ul li a {
    margin: 0 10px;
    color: #CBE4DE;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

ul li a:hover {
    color: #865DFF;
}

.home {
    color:#865DFF;
}

/* main */
.skills {
    color:#865DFF;
    


}

.title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10em;
    
    
}

h2 {
    color: #CBE4DE;
    font-size: 7em;
}

footer {
    width: 100vw;
    height: auto;
    

    position: fixed;
    bottom: 2em;
    z-index: 12;

    display: flex;
    justify-content: center;
 }

footer .social-icons ul li{
    display: inline-flex;

    
    scale: 200%;
    padding: 0 2em;
    transition: all 0.3s ease 0s;
    

    
 }

 footer .social-icons ul li:hover {
    color: #865DFF;
 }

 section {
    width: 100vw;
    height: 70vh;
   
    position: relative;
    top: 9em;

    display: flex;
    flex-direction: row;
    gap: 5em;
    justify-content: center;
    align-items: center;

 }
 
 section .item {
    
    width: 23em;
    height: 23em;

    display: flex;
    justify-content: center;
    align-items: center;
 }

 section .item .fa-brands {
    scale: 1100%;
    color: #cbe4de;
 }

 .another-container {
   
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 3em;
    flex-direction: column;
}

.featured {
    font-size: 5em;
    text-align: center;
}

.title {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowmaker {
    background-color: red;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
}
.subitem1,
.subitem2,
.subitem3 {
    width: 15em;
    height: 15em;
    background-color: blue;
}

picture {
    width: 5em;
    height: 5em;
    
}
 @media 